In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.

In [2]:
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Naranjal,EC,2022-07-26 17:01:14,-2.6667,-79.6167,80.80,73,89,3.51
1,1,Aneho,TG,2022-07-26 17:01:15,6.2333,1.6000,76.73,86,99,16.51
2,2,Tuktoyaktuk,CA,2022-07-26 17:01:15,69.4541,-133.0374,55.09,75,100,18.10
3,3,Flin Flon,CA,2022-07-26 17:01:15,54.7682,-101.8650,57.04,94,100,11.50
4,4,Tabuk,PH,2022-07-26 17:01:16,17.4189,121.4443,75.97,93,100,2.98

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=500, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Naranjal,EC,2022-07-26 17:01:14,-2.6667,-79.6167,80.80,73,89,3.51
1,1,Aneho,TG,2022-07-26 17:01:15,6.2333,1.6000,76.73,86,99,16.51
4,4,Tabuk,PH,2022-07-26 17:01:16,17.4189,121.4443,75.97,93,100,2.98
5,5,Balkhash,KZ,2022-07-26 17:01:16,46.8440,74.9804,79.45,29,90,3.53
8,8,Lethem,GY,2022-07-26 17:01:17,3.3803,-59.7968,84.54,69,96,2.21
12,12,Atuona,PF,2022-07-26 17:01:18,-9.8000,-139.0333,77.07,76,5,17.49
13,13,Guerrero Negro,MX,2022-07-26 17:01:19,27.9769,-114.0611,76.53,59,87,5.97
14,14,Liuzhou,CN,2022-07-26 17:01:19,24.3126,109.3892,81.73,76,9,4.45
16,16,Ponta Delgada,PT,2022-07-26 17:01:20,37.7333,-25.6667,75.92,83,75,9.22
18,18,Kapaa,US,2022-07-26 17:01:20,22.0752,-159.3190,77.32,82,40,16.11

In [13]:
preferred_cities_df.count()

City_ID       207
City          207
Country       207
Date          207
Lat           207
Lng           207
Max Temp      207
Humidity      207
Cloudiness    207
Wind Speed    207
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store htoel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0         Naranjal      EC     80.80  -2.6667  -79.6167
1            Aneho      TG     76.73   6.2333    1.6000
4            Tabuk      PH     75.97  17.4189  121.4443
5         Balkhash      KZ     79.45  46.8440   74.9804
8           Lethem      GY     84.54   3.3803  -59.7968
12          Atuona      PF     77.07  -9.8000 -139.0333
13  Guerrero Negro      MX     76.53  27.9769 -114.0611
14         Liuzhou      CN     81.73  24.3126  109.3892
16   Ponta Delgada      PT     75.92  37.7333  -25.6667
18           Kapaa      US     77.32  22.0752 -159.3190

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Naranjal,EC,80.80,-2.6667,-79.6167,Media Naranja
1,Aneho,TG,76.73,6.2333,1.6000,Hotel La Linette
4,Tabuk,PH,75.97,17.4189,121.4443,Golden Berries Hotel and Convention
5,Balkhash,KZ,79.45,46.8440,74.9804,Family
8,Lethem,GY,84.54,3.3803,-59.7968,Savannah Inn
12,Atuona,PF,77.07,-9.8000,-139.0333,Villa Enata
13,Guerrero Negro,MX,76.53,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
14,Liuzhou,CN,81.73,24.3126,109.3892,Linjiang Inn
16,Ponta Delgada,PT,75.92,37.7333,-25.6667,Vila Nova Hotel
18,Kapaa,US,77.32,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))