## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

import sys
sys.path.append('../')
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\lucas\OneDrive\Desktop\MSUdatastuff\Repos\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
0,0,Carnarvon,AU,2022-07-29 05:22:04,-24.8667,113.6333,71.02,70,100,9.98,overcast clouds,0.0,0.0
1,1,Fairbanks,US,2022-07-29 05:28:39,64.8378,-147.7164,66.09,55,20,9.22,few clouds,0.0,0.0
2,2,Saskylakh,RU,2022-07-29 05:28:40,71.9167,114.0833,63.12,77,100,4.56,overcast clouds,0.0,0.0
3,3,Mecca,SA,2022-07-29 05:16:44,21.4267,39.8261,90.28,27,67,4.09,broken clouds,0.0,0.0
4,4,Fort Wayne,US,2022-07-29 05:28:02,41.1306,-85.1289,66.18,88,40,0.00,scattered clouds,0.0,0.0

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
9,9,Cockburn Town,TC,2022-07-29 05:27:53,21.4612,-71.1419,81.41,75,86,20.67,overcast clouds,0.0,0.0
13,13,Aksarka,RU,2022-07-29 05:28:42,66.5606,67.7975,76.19,40,54,10.85,broken clouds,0.0,0.0
14,14,Kavaratti,IN,2022-07-29 05:28:42,10.5669,72.6420,81.50,80,96,13.82,overcast clouds,0.0,0.0
21,21,Kingsland,US,2022-07-29 05:25:04,30.8000,-81.6898,81.91,90,98,3.74,overcast clouds,0.0,0.0
22,22,Kapaa,US,2022-07-29 05:28:44,22.0752,-159.3190,80.58,80,20,9.22,few clouds,0.0,0.0
25,25,Yarada,IN,2022-07-29 05:20:51,17.6500,83.2667,89.92,66,40,5.75,haze,0.0,0.0
26,26,Bardiyah,LY,2022-07-29 05:28:45,31.7561,25.0865,77.29,80,0,9.53,clear sky,0.0,0.0
28,28,Sorong,ID,2022-07-29 05:18:59,-0.8833,131.2500,82.18,79,67,4.41,broken clouds,0.0,0.0
29,29,Hilo,US,2022-07-29 05:25:52,19.7297,-155.0900,79.29,79,0,3.44,clear sky,0.0,0.0
30,30,Georgetown,MY,2022-07-29 05:27:41,5.4112,100.3354,87.73,73,40,8.05,scattered clouds,0.0,0.0

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City ID                    237
City                       237
Country                    237
Date                       237
Lat                        237
Lng                        237
Max Temp                   237
Humidity                   237
Cloudiness                 237
Wind Speed                 237
Current Description        237
Rain inches (last 3hrs)    237
Snow inches (last 3hrs)    237
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Cockburn Town,TC,81.41,overcast clouds,21.4612,-71.1419,
13,Aksarka,RU,76.19,broken clouds,66.5606,67.7975,
14,Kavaratti,IN,81.50,overcast clouds,10.5669,72.6420,
21,Kingsland,US,81.91,overcast clouds,30.8000,-81.6898,
22,Kapaa,US,80.58,few clouds,22.0752,-159.3190,
25,Yarada,IN,89.92,haze,17.6500,83.2667,
26,Bardiyah,LY,77.29,clear sky,31.7561,25.0865,
28,Sorong,ID,82.18,broken clouds,-0.8833,131.2500,
29,Hilo,US,79.29,clear sky,19.7297,-155.0900,
30,Georgetown,MY,87.73,scattered clouds,5.4112,100.3354,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Cockburn Town,TC,81.41,overcast clouds,21.4612,-71.1419,Osprey Beach Hotel
13,Aksarka,RU,76.19,broken clouds,66.5606,67.7975,
14,Kavaratti,IN,81.50,overcast clouds,10.5669,72.6420,Green leaf
21,Kingsland,US,81.91,overcast clouds,30.8000,-81.6898,Microtel Inn & Suites by Wyndham Kingsland
22,Kapaa,US,80.58,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
hotel_df.to_csv(r"C:\Users\lucas\OneDrive\Desktop\MSUdatastuff\Repos\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv", index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))